body {
  background-color: #383838;
  scroll-behavior: smooth;
}
  
html {
  scroll-behavior: smooth;
}
  
.main_logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
  
.main_logo img {
  width: 33px;
  height: auto;
  margin-right: 0px;
}

.products_image {
  height: 24px;
  margin-right: 10px;
}

.about_us_image {
  height: 24px;
  margin-right: 7px;
}
  
.contact_image {
  height: 24px;
  margin-right: 8px;
}
  
  
  
  
a.main_logo_text {
  /* Set the font family to "Source Sans Pro" */
  font-family: "Source Sans Pro", sans-serif;
  
  /* Set the font weight to bold */
  font-weight: bold;
  
  /* Set the font size to 50 pixels */
  font-size: 50px;
  
  /* Set the text color to white */
  color: #00e5aa;
  
  /* Center the text horizontally */
  text-align: center;
  line-height: 50px;
  
  /* Add a margin to the top and bottom of the element */
  margin-top: 160px;
  margin-bottom: 30px;
  margin-left: 0px;
  
  /* Set the initial size of the square */
  border: 2px solid transparent;
  padding: 10px;
  box-sizing: border-box; /* Include padding and border within element width and height */
  
  /* Add a transition to make the animation smoother */
  transition: all 0.2s ease;
  
  /* Set the display to inline-block */
  display: inline-block;

  /* Center the element horizontally using transform */
  position: absolute;
  left: 10%;
  transform: translateX(-50%);

  /* Set a fixed width and height */
  width: 250px;
  height: 80px;

  /* Hide the element's backface during animation */
  backface-visibility: hidden;
  text-decoration: none;
  user-select: none;
  border-radius: 30px;

  box-shadow: 0 0 0 2px transparent;
  transition: box-shadow 0.2s ease;

}

a.main_logo_text:hover {
  /* Increase the size of the border */
  /*border-width: 5px;
  /*border: 5px solid #00e5aa;
  
  /* Decrease the size of the padding */
  /*padding: 10px;
  
  /* Keep the size of the element constant */
  width: 250px;
  height: 80px;
  
  box-shadow: 0 0 0 3px #00e5aa;

}
  
  a.extra_btn_text {
    /* Set the font family to "Source Sans Pro" */
    font-family: "Source Sans Pro", sans-serif;
    
    /* Set the font size to 30 pixels */
    font-size: 30px;
  
  
    text-decoration: none;
    
    /* Set the text color to white */
    color: #ffffff;
    
    /* Center the text horizontally */
    text-align: center;
    line-height: 45px;
    
    /* Add a transition to make the animation smoother */
    transition: all 0.2s ease;
    
    /* Center the element horizontally using transform */
    position: absolute;
    left: 10%;
    transform: translateX(-50%);
    
    /* Add some margins */
    /*margin-top: 50px;
    margin-left: 550px;
    margin-bottom: 50px;*/
    
    /* Disable text selection */
    user-select: none;
    
    /* Add a border bottom */
    border-bottom: 2px solid transparent;
  
    display: inline-flex;
    align-items: center;
  }
  
  a.extra_btn_text:hover {
    /* Set the border bottom color to white */
    border-bottom-color: #00e5aa;
  }
  
a.extra_btn_text:nth-of-type(1) {
  margin-top: 45px;
  margin-left: 1150px;
  margin-bottom: 50px;
}
  
a.extra_btn_text:nth-of-type(2) {
  margin-top: 45px;
  margin-left: 1350px;
  margin-bottom: 50px;
}
  
a.extra_btn_text:nth-of-type(3) {
  margin-top: 45px;
  margin-left: 1550px;
  margin-bottom: 50px;
}
  
a.extra_btn_text:nth-of-type(4) {
  margin-top: 45px;
  margin-left: 1750px;
  margin-bottom: 50px;
}
  
  div.Button_container1 {
    background-color: #242424;
    width: 100%;
    height: 140px;
    border-radius: 30px;
  }
  
  div.main_holder1 {
    background-color: #242424;
    width: 1400px;
    height: 700px;
    margin-top: 10px;
    border-radius: 30px;
    margin-left: 250px;
    position: absolute;
    box-sizing: border-box;
    box-shadow: 0 0 0 2px transparent;
    transition: box-shadow 0.2s ease;
  }

  div.main_holder1:hover {
    box-shadow: 0 0 0 2px #00e5aa;
  }

  div.main_holder1:hover h1 {
    color: #00e5aa;
  }
  
  div.about_section {
    background-color: #242424;
    width: 100%;
    height: 250px;
    margin-top: 10px;
    border-radius: 30px;
  }
  
  div.contact_section {
    background-color: #242424;
    width: 100%;
    height: 150px;
    margin-top: 10px;
    border-radius: 30px;
  }
  
  .about_section1 {
    font-family: "Source Sans Pro", sans-serif;
    color: #ffffff;
    position: absolute;
    margin-left: 20px;
    margin-top: 1565px;
    top: 10px;
  }
  
  .contact_section1 {
    font-family: "Source Sans Pro", sans-serif;
    color: #ffffff;
    position: absolute;
    margin-left: 20px;
    margin-top: 1825px;
    top: 10px;
  }

 .contact_main_text1 {
    font-family: "Source Sans Pro", sans-serif;
    color: #ffffff;
    margin-top: 15px;
 }

.map_1 {
    margin-top: 0px;
    border-radius: 30px;
}

.contact_section_text1 {
    font-family: "Source Sans Pro", sans-serif;
    color: #ffffff;
    font-size: 30px;
}

.contact_section_text2 {
    font-family: "Source Sans Pro", sans-serif;
    color: #ffffff;
    font-size: 30px;
    margin-top: -20px;
}

.Button_container1 {
    box-sizing: border-box;
    box-shadow: 0 0 0 2px transparent;
    transition: box-shadow 0.2s ease;
  }
  
  .Button_container1:hover {
    box-shadow: 0 0 0 2px #00e5aa;
  }
