body {
  background-color: #383838;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

.main_logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.main_logo img {
  width: 33px;
  height: auto;
}

.products_image {
  height: 24px;
  margin-right: 10px;
}

.about_us_image {
  height: 24px;
  margin-right: 7px;
}

.contact_image {
  height: 24px;
  margin-right: 8px;
}

#scroll-up-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10;
}



a.main_logo_text {
  /* Set the font family to "Source Sans Pro" */
  font-family: "Source Sans Pro", sans-serif;
  
  /* Set the font weight to bold */
  font-weight: bold;
  
  /* Set the font size to 50 pixels */
  font-size: 50px;
  
  /* Set the text color to white */
  color: #00e5aa;
  
  /* Center the text horizontally */
  text-align: center;
  

  top: 29px;
  margin-left: 40px;
  
  /* Set the initial size of the square */
  padding: 7px;
  box-sizing: border-box; /* Include padding and border within element width and height */
  
  /* Add a transition to make the animation smoother */
  transition: all 0.2s ease;
  
  /* Set the display to inline-block */
  display: inline-block;
  position: relative;


  /* Set a fixed width and height */
  width: 250px;
  height: 80px;

  /* Hide the element's backface during animation */
  text-decoration: none;
  user-select: none;
  border-radius: 30px;

  box-shadow: 0 0 0 2px transparent;
  transition: box-shadow 0.2s ease;

  

}

a.main_logo_text:hover {
  /* Increase the size of the border */
  /*border-width: 5px;
  /*border: 5px solid #00e5aa;
  
  /* Decrease the size of the padding */
  /*padding: 10px;
  
  /* Keep the size of the element constant */
  width: 250px;
  height: 80px;
  
  box-shadow: 0 0 0 3px #00e5aa;

}

.extra_btn_text1 {
  /* Set the font family to "Source Sans Pro" */
  font-family: "Source Sans Pro", sans-serif;
    
  /* Set the font size to 30 pixels */
  font-size: 30px;

  text-decoration: none;
    
  /* Set the text color to white */
  color: #ffffff;
    
  /* Center the text horizontally */
    
  /* Add a transition to make the animation smoother */
  transition: all 0.2s ease;
    
  /* Center the element horizontally using transform */
  position: absolute;
    
  /* Disable text selection */
  user-select: none;
    
  /* Add a border bottom */
  border-bottom: 2px solid transparent;
  
  align-items: center;
  display: inline-flex;
}
  
.extra_btn_text1:hover {
  /* Set the border bottom color to white */
  border-bottom-color: #00e5aa;
}

.extra_btn_text2 {
  /* Set the font family to "Source Sans Pro" */
  font-family: "Source Sans Pro", sans-serif;
    
  /* Set the font size to 30 pixels */
  font-size: 30px;

  text-decoration: none;
    
  /* Set the text color to white */
  color: #ffffff;
    
  /* Center the text horizontally */
    
  /* Add a transition to make the animation smoother */
  transition: all 0.2s ease;
    
  /* Center the element horizontally using transform */
  position: absolute;
    
  /* Disable text selection */
  user-select: none;
    
  /* Add a border bottom */
  border-bottom: 2px solid transparent;
  display: inline-flex;
  align-items: center;
}
  
.extra_btn_text2:hover {
  /* Set the border bottom color to white */
  border-bottom-color: #00e5aa;
}

.extra_btn_text3 {
  /* Set the font family to "Source Sans Pro" */
  font-family: "Source Sans Pro", sans-serif;
    
  /* Set the font size to 30 pixels */
  font-size: 30px;

  text-decoration: none;
    
  /* Set the text color to white */
  color: #ffffff;
    
  /* Center the text horizontally */
    
  /* Add a transition to make the animation smoother */
  transition: all 0.2s ease;
    
  /* Center the element horizontally using transform */
  position: absolute;
    
  /* Disable text selection */
  user-select: none;
    
  /* Add a border bottom */
  border-bottom: 2px solid transparent;
  display: inline-flex;
  align-items: center;
}
  
.extra_btn_text3:hover {
  /* Set the border bottom color to white */
  border-bottom-color: #00e5aa;
}

.extra_btn_text1 {
  top: 53px;
  right: 330px;

}
  
.extra_btn_text2 {
  top: 53px;
  right: 200px;

}
  
.extra_btn_text3 {
  top: 53px;
  right: 40px;

}

div.Button_container1 {
  position: relative;
  background-color: #242424;
  width: 100%;
  height: 140px;
  border-radius: 30px;
}

div.main_holder1 {
  background-color: #242424;
  width: 100%;
  height: 1085px;
  margin-top: 10px;
  border-radius: 30px;
}

div.about_section {
  background-color: #242424;
  width: 100%;
  height: 260px;
  margin-top: 10px;
  border-radius: 30px;
  transition: all 0.2s ease;
  border-bottom: 2px solid transparent;
  border: 2px solid transparent;
  padding: 15px;
  box-sizing: border-box; /* Include padding and border within element width and height */
  align-items: center;
  justify-content: center;
  display: flex;
}

div.contact_section {
  background-color: #242424;
  width: 100%;
  height: 150px;
  margin-top: 10px;
  border-radius: 30px;
}

.about_section1 {
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  position: absolute;
  margin-top: 1250px;
  top: 10px;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease;
  user-select: none;
}

div.about_section {
  border: 2px solid transparent;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: 0 0 0 2px transparent;
  transition: box-shadow 0.2s ease;

}

div.about_section:hover {
  box-shadow: 0 0 0 2px #00e5aa;
}
.about_section:hover h1 {
  color: #00e5aa;
}

div.main_holder1 {
  border: 2px solid transparent;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: 0 0 0 2px transparent;
  transition: box-shadow 0.2s ease;
  align-items: center;
  overflow: hidden
}

div.main_holder1:hover {
  box-shadow: 0 0 0 2px #00e5aa;
}

div.main_holder1:hover h1 {
  color: #00e5aa;
}

.products_main_title1 {
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  position: absolute;
  margin-left: 20px;
  margin-top: 10px;
  user-select: none;
}

.home_image1 {
  margin-top: -40px;
  margin-left: -200px;
  width: 2600px;
  border: none;
  background-image: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0)); /* Create a horizontal gradient that fades out to transparent */
  filter: brightness(0.55);
  z-index: 1;
}

.main_holder1 .home_text1 {
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  position: absolute;
  font-size: 100px;
  left: 530px;
  top: 220px;
  z-index: 2;
}

.main_holder1 .home_text2 {
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  position: absolute;
  font-size: 80px;
  left: 370px;
  top: 420px;
  z-index: 2;
}

.about_section2 {
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  font-size: 22px;
  position: absolute;
  width: 1850px;
  top: 1280px;
  text-align: center
}

.Button_container1 {
  box-sizing: border-box;
  box-shadow: 0 0 0 2px transparent;
  transition: box-shadow 0.2s ease;
}

.Button_container1:hover {
  box-shadow: 0 0 0 2px #00e5aa;
}

.our_offers_holder1 {
  background-color: #111111;
  position: absolute;
  height: 450px;
  width: 400px;
  margin-top: 70px;
  margin-left: 20px;
  border-radius: 30px;

  box-shadow: 0 0 0 2px transparent;
  transition: box-shadow 0.2s ease;

  align-items: center;
  justify-content: center;
  display: flex;
}

.our_offers_holder1:hover {
  box-shadow: 0 0 0 2px #00e5aa;
}

.our_offers_title1 {
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  font-size: 40px;
  position: absolute;
  margin-top: -370px;
}

.our_offers_image1 {
  width: 280px;
  height: 280px;
  position: absolute;
}

.our_offers_buy_button1{
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  font-size: 50px;
  text-decoration: none;
  transition: all 0.2s ease;
  position: absolute;
  user-select: none;
  border-bottom: 2px solid transparent;

  margin-top: 360px;
}

.our_offers_buy_button1:hover {
  border-bottom-color: #00e5aa;
}

.our_offers_holder2 {
  background-color: #111111;
  position: absolute;
  height: 450px;
  width: 400px;
  margin-top: 70px;
  margin-left: 490px;
  border-radius: 30px;

  box-shadow: 0 0 0 2px transparent;
  transition: box-shadow 0.2s ease;

  align-items: center;
  justify-content: center;
  display: flex;
}

.our_offers_holder2:hover {
  box-shadow: 0 0 0 2px #00e5aa;
}

.our_offers_title2 {
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  font-size: 40px;
  position: absolute;
  margin-top: -370px;
}

.our_offers_image2 {
  width: 280px;
  height: 280px;
  position: absolute;
}

.our_offers_buy_button2{
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  font-size: 50px;
  text-decoration: none;
  transition: all 0.2s ease;
  position: absolute;
  user-select: none;
  border-bottom: 2px solid transparent;

  margin-top: 360px;
}

.our_offers_buy_button2:hover {
  border-bottom-color: #00e5aa;
}

.our_offers_holder3 {
  background-color: #111111;
  position: absolute;
  height: 450px;
  width: 400px;
  margin-top: 70px;
  margin-left: 960px;
  border-radius: 30px;

  box-shadow: 0 0 0 2px transparent;
  transition: box-shadow 0.2s ease;

  align-items: center;
  justify-content: center;
  display: flex;
}

.our_offers_holder3:hover {
  box-shadow: 0 0 0 2px #00e5aa;
}

.our_offers_title3 {
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  font-size: 40px;
  position: absolute;
  margin-top: -370px;
}

.our_offers_image3 {
  width: 280px;
  height: 280px;
  position: absolute;
}

.our_offers_buy_button3{
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  font-size: 50px;
  text-decoration: none;
  transition: all 0.2s ease;
  position: absolute;
  user-select: none;
  border-bottom: 2px solid transparent;

  margin-top: 360px;
}

.our_offers_buy_button3:hover {
  border-bottom-color: #00e5aa;
}

.our_offers_holder4 {
  background-color: #111111;
  position: absolute;
  height: 450px;
  width: 400px;
  margin-top: 70px;
  margin-left: 1430px;
  border-radius: 30px;

  box-shadow: 0 0 0 2px transparent;
  transition: box-shadow 0.2s ease;

  align-items: center;
  justify-content: center;
  display: flex;
}

.our_offers_holder4:hover {
  box-shadow: 0 0 0 2px #00e5aa;
}

.our_offers_title4 {
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  font-size: 40px;
  position: absolute;
  margin-top: -370px;
}

.our_offers_image4 {
  width: 280px;
  height: 280px;
  position: absolute;
}

.our_offers_buy_button4{
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  font-size: 50px;
  text-decoration: none;
  transition: all 0.2s ease;
  position: absolute;
  user-select: none;
  border-bottom: 2px solid transparent;

  margin-top: 360px;
}

.our_offers_buy_button4:hover {
  border-bottom-color: #00e5aa;
}


.our_offers_holder5 {
  background-color: #111111;
  position: absolute;
  height: 450px;
  width: 400px;
  margin-top: 580px;
  margin-left: 20px;
  border-radius: 30px;

  box-shadow: 0 0 0 2px transparent;
  transition: box-shadow 0.2s ease;
  
  align-items: center;
  justify-content: center;
  display: flex;
}

.our_offers_holder5:hover {
  box-shadow: 0 0 0 2px #00e5aa;
}

.our_offers_title5 {
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  font-size: 40px;
  position: absolute;
  margin-top: -370px;
}

.our_offers_image5 {
  width: 280px;
  height: 280px;
  position: absolute;
}

.our_offers_buy_button5{
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  font-size: 50px;
  text-decoration: none;
  transition: all 0.2s ease;
  position: absolute;
  user-select: none;
  border-bottom: 2px solid transparent;

  margin-top: 360px;
}

.our_offers_buy_button5:hover {
  border-bottom-color: #00e5aa;
}

@media only screen and (max-width: 595px) {

  .extra_btn_text1 {
    visibility: hidden;
  }
    
  .extra_btn_text2 {
    visibility: hidden;
  }

  .extra_btn_text3 {
    visibility: hidden;
  }

  .Button_container1 {
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .main_logo {
    text-align: center;
    position: absolute;
    margin-left: none;
    margin-right: none;
  }
  .extra_btn_text1 img {
    position: absolute;
    margin-top: -45px;
    margin-left: -100px;
    padding-bottom: 5px;
    visibility: visible;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease;
    width: 50px;
    height: 50px;
  }

  .extra_btn_text1 {
    position: relative;
    margin-left: 0px;
    margin-right: -80px;
    margin-top: 0px;
    left: 0px;
    right: 0px;
  }

  .extra_btn_text1 img:hover {
    border-bottom-color: #00e5aa;
  }

  .extra_btn_text2 img {
    position: absolute;
    margin-top: -45px;
    margin-left: -35px;
    padding-bottom: 5px;
    visibility: visible;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease;
    width: 50px;
    height: 50px;
  }

  .extra_btn_text2 {
    position: relative;
    margin-left: 0px;
    margin-right: -80px;
    margin-top: 0px;
    left: 0px;
    right: 0px;
  }

  .extra_btn_text2 img:hover {
    border-bottom-color: #00e5aa;
  }

  .extra_btn_text3 img {
    position: absolute;
    margin-top: -45px;
    margin-left: 70px;
    padding-bottom: 5px;
    visibility: visible;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease;
    width: 50px;
    height: 50px;
  }

  .extra_btn_text3 {
    position: relative;
    margin-left: 0px;
    margin-right: -80px;
    margin-top: 0px;
    left: 0px;
    right: 0px;
  }

  .extra_btn_text3 img:hover {
    border-bottom-color: #00e5aa;
  }

  a.main_logo_text {
    position: none;
    font-size: 30px;
    box-shadow: 0 0 0 2px transparent;
    transition: box-shadow 0.2s ease;
    width: 150px;
    height: 50px;
    margin-top: -130px;
    margin-left: 0px;
  }

  a.main_logo_text:hover {
    box-shadow: 0 0 0 2px #00e5aa;
    font-size: 30px;
    width: 150px;
    height: 50px;
  }

  .main_logo img {
    width: 20px;
    height: auto;
  }


}

@media only screen and (min-width: 596px) {

  .extra_btn_text1 {
    visibility: hidden;
  }
    
  .extra_btn_text2 {
    visibility: hidden;
  }

  .extra_btn_text3 {
    visibility: hidden;
  }

  .extra_btn_text1 img {
    padding-bottom: 5px;
    visibility: visible;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 180px;
  }

  .extra_btn_text1 img:hover {
    border-bottom-color: #00e5aa;
  }

  .extra_btn_text2 img {
    padding-bottom: 5px;
    visibility: visible;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 100px;
  }

  .extra_btn_text2 img:hover {
    border-bottom-color: #00e5aa;
  }

  .extra_btn_text3 img {
    padding-bottom: 5px;
    visibility: visible;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 55px;
  }

  .extra_btn_text3 img:hover {
    border-bottom-color: #00e5aa;
  }

}

@media only screen and (min-width: 800px) {
  .extra_btn_text1 {
    visibility: visible;
  }

  .extra_btn_text1 img {
    padding-bottom: 0px;
    visibility: visible;
    border-bottom: none;
    transition: all 0.2s ease;
    height: 24px;
    width: 24px;
    position: relative;
    left: 0px;
    margin-right: 8px;
  }

  .extra_btn_text2 {
    visibility: visible;
  }

  .extra_btn_text2 img {
    padding-bottom: 0px;
    visibility: visible;
    border-bottom: none;
    transition: all 0.2s ease;
    height: 24px;
    width: 24px;
    position: relative;
    left: 0px;
    margin-right: 8px;
  }

  .extra_btn_text3 {
    visibility: visible;
  }

  .extra_btn_text3 img {
    padding-bottom: 0px;
    visibility: visible;
    border-bottom: none;
    transition: all 0.2s ease;
    height: 24px;
    width: 24px;
    position: relative;
    left: 0px;
  }

}

/* For Products */

@media only screen and (max-width: 490px) {  /* 350 size when resize icons*/
  div.main_holder1 {
    height: 2650px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .products_main_title1 {
    margin-top: -2535px;
    margin-left: 0px;
    margin-right: 0px;
    z-index: 10;
  }

  .our_offers_holder1 {
    width: 300px;
    margin-left: 0px;
    margin-top: -2025px;
  }

  .our_offers_holder2 {
    width: 300px;
    margin-left: 0px;
    margin-top: -1010px;
  }

  .our_offers_holder3 {
    width: 300px;
    margin-left: 0px;
    margin-top: 15px;
  }

  .our_offers_holder4 {
    width: 300px;
    margin-left: 0px;
    margin-top: 1030px;
  }

  .our_offers_holder5 {
    width: 300px;
    margin-left: 0px;
    margin-top: 2045px;
  }
  
  .our_offers_title1 {
    font-size: 32px;
  }

  .our_offers_title2 {
    font-size: 32px;
  }

  .our_offers_title3 {
    font-size: 32px;
  }

  .our_offers_title4 {
    font-size: 32px;
  }

  .our_offers_title5 {
    font-size: 32px;
  }

  div.about_section {
    height: 1160px;
  }

  .about_section1 {
    margin-top: 2820px;
  }

  .about_section2 {
    width: 315px;
    top: 2855px;
  }

}

@media only screen and (min-width: 491px) {  /* 490 size when icon get back*/

  div.main_holder1 {
    height: 2650px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .products_main_title1 {
    margin-top: -2535px;
    z-index: 10;
  }

  .our_offers_holder1 {
    margin-left: 0px;
    margin-top: -2025px;
  }

  .our_offers_holder2 {
    margin-left: 0px;
    margin-top: -1010px;
  }

  .our_offers_holder3 {
    margin-left: 0px;
    margin-top: 15px;
  }

  .our_offers_holder4 {
    margin-left: 0px;
    margin-top: 1030px;
  }

  .our_offers_holder5 {
    margin-left: 0px;
    margin-top: 2045px;
  }
  
  .our_offers_title1 {
    font-size: 40px;
  }

  .our_offers_title2 {
    font-size: 40px;
  }

  .our_offers_title3 {
    font-size: 40px;
  }

  .our_offers_title4 {
    font-size: 40px;
  }

  .our_offers_title5 {
    font-size: 40px;
  }

  div.about_section {
    height: 930px;
  }

  .about_section1 {
    margin-top: 2820px;
  }

  .about_section2 {
    width: 420px;
    top: 2855px;
  }

}

@media only screen and (min-width: 961px) {  /* 960 size when two icons visible */

  div.main_holder1 {
    height: 1600px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .products_main_title1 {
    margin-top: -1485px;
    margin-left: 0px;
    margin-right: 0px;
    z-index: 10;
  }

  .our_offers_holder1 {
    margin-top: -975px;
    margin-left: -450px;
  }

  .our_offers_holder2 {
    margin-right: -450px;
    margin-top: -975px;
  }

  .our_offers_holder3 {
    margin-left: -450px;
    margin-top: 40px;
  }

  .our_offers_holder4 {
    margin-right: -450px;
    margin-top: 40px;
  }

  .our_offers_holder5 {
    margin-left: 0px;
    margin-top: 1055px;
  }

  div.about_section {
    height: 470px;
  }

  .about_section1 {
    margin-top: 1770px;
  }

  .about_section2 {
    width: 900px;
    top: 1800px;
  }

}

@media only screen and (min-width: 1431px) {  /* 960 size when three icons visible */
  
  div.main_holder1 {
    height: 1085px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .products_main_title1 {
    margin-top: -1485px;
    margin-left: 0px;
    margin-right: 0px;
    z-index: 10;
  }

  .our_offers_holder1 {
    margin-top: -460px;
    margin-left: -900px;
  }

  .our_offers_holder2 {
    margin-right: 0px;
    margin-top: -460px;
  }

  .our_offers_holder3 {
    margin-left: 900px;
    margin-top: -460px;
  }

  .our_offers_holder4 {
    margin-right: -450px;
    margin-top: 555px;
  }

  .our_offers_holder5 {
    margin-left: -450px;
    margin-top: 555px;
  }

  div.about_section {
    height: 330px;
  }

  .about_section1 {
    margin-top: 1250px;
  }

  .about_section2 {
    width: 1350px;
    top: 1280px;
  }

}
